* {
    font-size: 25pt;
    font-family: Helvetica;
    color: black;
}

.top-bar{
    height: 15%;
    background-color: white;;
}

.list-item{
    height: 250px;
    border-style: dashed;
    border-color: gray;
    width: 100%;
}

.list-item a {
    padding-left: 25pt;
    margin-top: 10opt;
}