asgiref==3.2.3
autopep8==1.5
beautifulsoup4==4.8.2
certifi==2019.11.28
chardet==3.0.4
cycler==0.10.0
Django==3.0.2
gunicorn==20.0.4
idna==2.9
kiwisolver==1.1.0
matplotlib==3.2.0
numpy==1.18.2
pycodestyle==2.5.0
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
response==0.4.0
schedule==0.6.0
scipy==1.4.1
six==1.14.0
soupsieve==2.0
sqlparse==0.3.0
urllib3==1.25.8
whitenoise==5.0.1
