{% block content%}

<style>
    .active-purple-2 input.form-control[type=text]:focus:not([readonly]) {
              border-bottom: 1px solid #ce93d8;
              box-shadow: 0 1px 0 0 #ce93d8;
            }
            .active-purple input.form-control[type=text] {
              border-bottom: 1px solid #ce93d8;
              box-shadow: 0 1px 0 0 #ce93d8;
            }
            .active-cyan-2 input.form-control[type=text]:focus:not([readonly]) {
              border-bottom: 1px solid #4dd0e1;
              box-shadow: 0 1px 0 0 #4dd0e1;
            }
        form {
            outline: none;
            height: 30px;
        }

        .search-bar{
            margin-top: 150px;
        }
</style>

<!-- Search form -->
<div class="search-bar">
<form action="{% url 'search_results' %}" method="get" class="form-inline d-flex justify-content-center md-form form-sm active-purple active-purple-2 mt-2" >
    <i class="fas fa-search" aria-hidden="true">
        <svg class="bi bi-chevron-right" width="32" height="32" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z" clip-rule="evenodd" style="color:#AE2573; "/></svg>
    </i>
    <input  name="q" type="text" placeholder="Search..." class="form-control form-control-sm ml-3 w-75">
  </form>
</div>
{% endblock %}