.body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #005eb8;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  min-height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container.search-results {
  padding-top: 150px;
  padding-bottom: 150px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.container.vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.search-bar-container {
  width: 100%;
}

.hero-fmn-text {
  display: block;
  margin-bottom: 25px;
  font-family: 'Eras Bold ITC', sans-serif;
  color: #fff;
  font-size: 70px;
  line-height: 70px;
  font-weight: 700;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.search-box {
  width: 96%;
  margin-bottom: 0px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  font-weight: 400;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.submit-button {
  z-index: 1;
  width: 4%;
  padding: 0px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #eaeaea;
  background-image: url('/static/search/images/Search_Icon.svg');
  background-position: 50% 50%;
  background-size: 50%;
  background-repeat: no-repeat;
}

.nav-container {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 9999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.link-block {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.hamburger-icon-button {
  position: fixed;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  width: 80px;
  height: 80px;
  margin-top: 10px;
  margin-right: 20px;
  cursor: pointer;
}

.hamburger-icon-button.mobile {
  display: none;
}

.hamburger-icon-button.more-info-page {
  background-color: #005eb8;
}

.hamburger-icon {
  display: none;
}

.nav-wrapper {
  position: fixed;
  z-index: 99999;
  display: none;
  width: 100%;
  height: 80px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.navbar-close-button {
  position: fixed;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  width: 80px;
  height: 80px;
  margin-top: 90px;
  margin-right: 20px;
  background-color: #005eb8;
  cursor: pointer;
}

.navbar-close-button.mobile {
  display: none;
}

.close-icon {
  display: none;
}

.navbar-fmn-text {
  position: fixed;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  margin-top: 3px;
  margin-left: 30px;
  font-family: 'Eras Bold ITC', sans-serif;
  color: #005eb8;
  font-size: 2.2vw;
  line-height: 70px;
  font-weight: 700;
}

.link {
  font-family: 'Arial Black', sans-serif;
  color: #005eb8;
  font-size: 2vw;
  line-height: 2vw;
  font-weight: 900;
  text-decoration: none;
}

.link.w--current {
  padding-right: 0px;
  padding-left: 0px;
  font-size: 2vw;
  line-height: 2vw;
}

.nav-links-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.body-2 {
  background-color: #005eb8;
}

.heading-text {
  margin-bottom: 50px;
  font-family: 'Eras Bold ITC', sans-serif;
  color: #fff;
  font-size: 70px;
  line-height: 70px;
  font-weight: 700;
}

.results-container {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 100px;
}

.results-name-text {
  font-family: 'Arial Black', sans-serif;
  color: #fff;
  font-size: 35px;
  line-height: 35px;
}

.results-location-text {
  margin-top: 15px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #fff;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
}

.result-item-wrapper {
  margin-bottom: 80px;
  -webkit-transition: -webkit-transform 500ms cubic-bezier(.165, .84, .44, 1);
  transition: -webkit-transform 500ms cubic-bezier(.165, .84, .44, 1);
  transition: transform 500ms cubic-bezier(.165, .84, .44, 1);
  transition: transform 500ms cubic-bezier(.165, .84, .44, 1), -webkit-transform 500ms cubic-bezier(.165, .84, .44, 1);
  text-decoration: none;
}

.result-item-wrapper:hover {
  -webkit-transform: translate(35px, 0px);
  -ms-transform: translate(35px, 0px);
  transform: translate(35px, 0px);
}

.menu-icon {
  background-color: transparent;
}

.more-info-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.information-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  height: 100vh;
  padding: 45px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #005eb8;
}

.map-container {
  width: 75%;
  height: 100vh;
  background-color: #fff;
}

.back-button-container {
  width: 60px;
}

.information-wrapper {
  width: 100%;
  margin-top: 100px;
}

.nurse-name-text {
  margin-bottom: 50px;
  font-family: 'Arial Black', sans-serif;
  color: #fff;
  font-size: 45px;
  line-height: 50px;
}

.details-text {
  color: #fff;
  font-size: 25px;
  line-height: 25px;
}

.details-text.email {
  margin-bottom: 20px;
}

.details-text.address-line-1 {
  margin-bottom: 10px;
  line-height: 35px;
}

.details-text.number {
  margin-bottom: 80px;
}

.details-text.map-link {
  margin-top: 80px;
}

.details-text.post-code {
  margin-bottom: 10px;
  line-height: 35px;
}

.phone-text {
  color: #fff;
  font-size: 25px;
  line-height: 25px;
}

.text-block-2 {
  margin-top: 80px;
  color: #fff;
  font-size: 25px;
  line-height: 25px;
}

.link-2 {
  margin-top: 80px;
  color: #fff;
  font-size: 25px;
  line-height: 25px;
}

.paragraph-text {
  color: #fff;
  font-size: 25px;
  line-height: 25px;
  text-align: center;
}

.contact-text {
  color: #fff;
  font-size: 25px;
  line-height: 25px;
  font-weight: 400;
}

.contact-text.email {
  margin-top: 45px;
  font-weight: 700;
}

.contact-text.phone {
  margin-top: 10px;
  font-weight: 700;
}

.form-block {
  margin-top: 50px;
}

.form-text {
  color: #fff;
  font-size: 25px;
  line-height: 25px;
}

.form-text.address {
  margin-top: 40px;
}

.submit-button-2 {
  margin-top: 40px;
  background-color: #fff;
  color: #005eb8;
  font-size: 25px;
  line-height: 25px;
  font-weight: 700;
}

.text-field {
  border-radius: 3px;
}

.form-2 {
  width: 450px;
}

.text-field-2 {
  border-radius: 3px;
}

.text-field-3 {
  border-radius: 3px;
}

.text-field-4 {
  border-radius: 3px;
}

.text-field-5 {
  border-radius: 3px;
}

@media screen and (max-width: 991px) {
  .container {
    width: 75%;
  }
  .hero-fmn-text {
    font-size: 40px;
    line-height: 40px;
  }
  .submit-button {
    width: 8%;
  }
  .hamburger-icon-button.mobile {
    display: none;
  }
  .nav-wrapper {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .navbar-fmn-text {
    display: none;
    font-size: 33px;
    line-height: 33px;
  }
  .link {
    padding-right: 22px;
    padding-left: 22px;
    font-size: 25px;
    line-height: 25px;
  }
  .link.w--current {
    font-size: 25px;
    line-height: 25px;
  }
  .information-container {
    width: 40%;
  }
  .map-container {
    width: 60%;
  }
  .back-button-container {
    width: 50px;
  }
  .nurse-name-text {
    font-size: 30px;
    line-height: 35px;
  }
  .details-text.email {
    font-size: 18px;
    line-height: 18px;
  }
  .details-text.address-line-1 {
    font-size: 18px;
    line-height: 18px;
  }
  .details-text.number {
    font-size: 18px;
    line-height: 18px;
  }
  .details-text.map-link {
    font-size: 18px;
    line-height: 18px;
  }
  .details-text.post-code {
    font-size: 18px;
    line-height: 18px;
  }
}

@media screen and (max-width: 767px) {
  .body.more-info-page {
    background-color: transparent;
  }
  .submit-button {
    width: 10%;
  }
  .link.w--current {
    font-size: 25px;
    line-height: 25px;
  }
  .heading-text.about-page {
    text-align: center;
  }
  .more-info-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .information-container {
    width: 100%;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .map-container {
    display: none;
    width: 100%;
    height: 50vh;
  }
  .details-text.number {
    margin-bottom: 40px;
  }
  .details-text.map-link {
    margin-top: 40px;
  }
}

@media screen and (max-width: 479px) {
  .container {
    width: 80%;
  }
  .submit-button {
    width: 18%;
  }
  .nav-container {
    z-index: 9999;
  }
  .hamburger-icon-button {
    display: none;
    margin-top: 20px;
    margin-right: 20px;
  }
  .hamburger-icon-button.mobile {
    display: block;
    width: 60px;
    height: 60px;
    margin-top: 10px;
    margin-right: 10px;
  }
  .nav-wrapper {
    height: 250px;
  }
  .navbar-close-button {
    display: none;
    margin-top: 270px;
    margin-right: 20px;
  }
  .navbar-close-button.mobile {
    display: block;
    width: 60px;
    margin-top: 260px;
    margin-right: 10px;
  }
  .link {
    padding: 15px 0px;
  }
  .link.w--current {
    font-size: 25px;
    line-height: 25px;
  }
  .nav-links-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .heading-text {
    font-size: 50px;
    line-height: 50px;
  }
  .heading-text.about-page {
    margin-bottom: 30px;
  }
  .results-name-text {
    font-size: 25px;
    line-height: 25px;
  }
  .results-location-text {
    font-size: 15px;
    line-height: 15px;
  }
  .result-item-wrapper {
    margin-bottom: 50px;
  }
  .paragraph-text {
    font-size: 20px;
    line-height: 20px;
  }
  .contact-text.email {
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
  }
  .contact-text.phone {
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
  }
  .form-2 {
    width: 225px;
  }
}

@font-face {
  font-family: 'Arial Black';
  src: url('../fonts/arial-black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Eras Bold ITC';
  src: url('../fonts/ErasITCbyBT-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}